html {
  padding-top: 5px;
  text-align: left;
  background-color: #FFFF;
}

#title {
	position: relative;
	text-align : left;
	padding-left: 30px;
	font-size: 17px;
	font-style: oblique;
	font-family: "Lucida Grande", sans-serif;
	color: rgb( 100 , 100, 100);
}

#states {
	position: absolute;
	text-align: center;
	width: 290px;
	padding-top: 110px;
	padding-left: 100px;
	font-family: "Lucida Grande", sans-serif;
	font-size: 28px;
	color : rgb( 100 , 100, 100);
	z-index: -1;
}

#key{
	padding-left: 360px;
	padding-top: 360px;
	width: 100px;
	position: absolute;
	font-family: "Lucida Grande", sans-serif;
	display: table-cell;
}

#footer {
   position:absolute;
   padding-left: 35px;
   bottom:10px;
   width:80%;
   height:12px;   /* Height of the footer */
   font-family: "Lucida Grande", sans-serif;
   font-size: 10px;
}

.body {
	padding-top: 30px;
	width: 100px;
	position: relative;
	margin: 50 auto;
	/*display: table-cell;*/
	vertical-align: right;
	text-align: center;
}

#page-wrap {
	 position: absolute;
     width: 800px;
     margin: 0 auto;
}

#statement {
   width: 550px;
   text-align : left;
   padding-left: 40px;
   position: relative;
   font-family: Gill Sans Extrabold, sans-serif;
   font-size: 11px;
   height: 20px;   /* Height of the footer */
   z-index: 1;
}